body
{
  background-color: #FAFAFA;
  font-family: 'Roboto';
}

@font-face {
font-family: "Cocogoose";
src: url('cocogoose.otf');
}

section
{
  margin-bottom: 70px;
}

.publication h5
{
  margin: 0;
}

.publication-content_muscle img
{
  width: 75px;
}

.publication
{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.publication-info
{
  display: grid;
  grid-template-columns: 0.1fr 0.7fr 0.2fr;
}

.publication-info_post
{
  margin-left: 10px;
  margin-bottom: 20px;
}

.publication-info_time
{
  margin: auto;
  margin-right: 0;
  color: #7e7e7e;
  font-size: 18px;
}

.publication-info_time i
{
  margin-left: 3px;
}

.publication-info_post h5
{
  text-align: left;
  color: #454545;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  font-family: Roboto Condensed;
}

.publication-info_post h
{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #7e7e7e;
}

.publication-content
{
  background: url("../img/background_programme.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px;
  color: white;
  display: grid;
  grid-template-rows: 0.2fr 0.6fr 0.2fr;
  grid-template-columns: 1fr;
  justify-content: space-between;
  height: 367px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.publication-content_description
{
  margin-top: auto;
  margin-bottom: auto;
}

.publication-content_description h5
{
  width: 180.6px;
  height: 130.6px;
  font-family: Roboto;
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: white;
}

.publication-content_description span
{
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  text-align: left;
  color: #ffffff;
}

.publication-content_info-difficulte
{
  margin-top: 21px;
}

.publication-content_info-difficulte
{
  position: relative;
  top: 16px;
}

.publication-content_info-difficulte ul
{
  list-style-type: none;
  margin-left: -40px;
}

.publication-content_info-difficulte li
{
  float: left;
}

.publication-content_info
{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.publication-content_info-vue span
{
  background-color: white;
  border-radius: 15px;
  padding: 4px 27px;
  text-align: center;
  color: #65c959;
}

.publication-programme .publication-content h
{
  color: white;
}

.publication-content_footer h
{
  color: white;
}

.publication-content_footer img
{
  padding-right: 4px;
}

.publication-programme .publication-content p
{
  font-size: 16px;
  font-weight: 300;
}

.publication-programme .publication-content_line
{
  border-left: 1px solid white;
  padding-left: 15px;
}

.publication-programme .publication-content p i
{
  padding-right: 8px;
  font-size: 20px;
}

.publication-content_info-vue
{
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
}

.publication-photo .publication-content img
{
  width: 100%;
}

.publication-photo .publication-content
{
  margin: 10px 0;
}

.publication-footer
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #454545;
  font-weight: 100;
  font-size: 18px;
}

.publication-footer_comment
{
  margin-right: 18px;
  margin-left: 10px;
}

.publication-photo .publication-footer_comment
{
  margin-right: 37px;
}

.publication-photo_content
{
  height: 367px;
  width: 100%;
  background: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}