@font-face {
font-family: "Cocogoose";
src: url('cocogoose.otf');
}

h5
{
  margin: 0;
}

.programme
{
  margin-bottom: 70px;
  margin: 20px 20px;
}

.exercice{
  background-image: url(../uploads/banniere/default.jpg);
  background-size: cover;
  height: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}