.publication-header h3
{
    color: white!important;
}

.publication-header
{
    background-color: #65C959;
}

#publication
{
    background-color: #65C959;
    margin: 0!important;
    padding: 20px;
}

.publication-section
{
    margin-bottom: 30px;
}

.publication-section h3
{
    color: white;
    margin-left: 15px;
    font-family: "Roboto condensed";
    font-weight: 500;
    margin-bottom: 5px;
}

.publication-bgcolor
{
    width: 100vw;
    height: 90.5%;
    background-color: #65C959;
}

.publication-bloc_description
{
    padding-bottom: 110px;
}

.publication-bloc input
{
    width: 95%;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 10px;
    color: #A3A3A3;
    font-weight: 400;
    background-color: white;
    border-radius: 12px;
    padding-bottom: 10px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.submit
{
    background-color: #2EB11F;
    width: 65%;
    margin: auto;
    display: block;
    text-align: center;
    border: none;
    color: white;
    font-family: 'Roboto condensed';
    text-transform: uppercase;
    padding: 8px 0;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}